.registerFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerForm {
  margin: 2rem 0;
}
.registerForm label {
  font-family: "Poppins-Thin";
  width: 100px;
}
.registerForm input {
  padding: 1rem;
}
.formRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 0.7rem 0;
}
p.privacyPolicyNote {
  font-family: "Poppins-Italic";
  font-size: 0.5rem;
  color: #a3a3a3;
  max-width: 80ch;
}
.formRow label {
  font-family: "Poppins-Regular";
  max-width: 65ch;
  color: #094f7d;
}
